<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>CV Amine OUCHIHA</title>
  <style>
    {{file.style}}
  </style>
  <!-- On peut avoir d'autres méta-données ici -->
</head>

<body>

  <header class="cv-header">
    <aside>
      <img class="profile-photo" src="{{file.cvImg}}" 
      width="90%" height="85%" />
    </aside>
    <section>
      <h1>Amine OUCHIHA <span>(26 ans)</span></h1>
      <h4>Consultant / Développeur full stack</h4>
      <p>
        Consultant développeur chez Edifixio depuis trois ans, intervenant dans
        une multitude de projects avec un spectre technique et relationnel assez large.Je suis ouvert à de nouvelles
        opportunités en tant que consultant développeur
        sur des thématiques téchnologique récente et porteuse.
      </p>
    </section>
  </header>

  <main class="cv-body">
    <aside>
      <section class="contact-section">
          <h3>Contact</h3>
          <ul>
            <li> {{file.localIcon}} <span>71 rue Andre sabatier, 92000, Nanterre.</span></li>
            <li> {{file.phoneIcon}} <span>07.81.58.10.21</span></li>
             <li> {{file.emailIcon}} <span>ouchihaamine@gmail.com</span></li>
          </ul>

      </section>
      
      
      
      <header class="skills-section-header">
        {{file.knowlegeIcon}}
        <label>Développement </label>
      </header>

  

      <section class="skills-container">
        
        <section class="slider-container">
          <label>Java, SE, JEE</label>
          <div class="slider">
            <div class="slider-fill" style="width: 90%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Java 8</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>
        
        <section class="slider-container">
          <label>JavaScript, NodeJs</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>Apex Salceforce</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>ReactJs</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Angular</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Ligthning Salceforce</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>Spring, Spring Boot</label>
          <div class="slider">
            <div class="slider-fill" style="width: 45%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>JPA / Hibernate</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>SQL / PG / PL  </label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>
      </section>
    </aside>


    <section class="main">
      <section class="prof-exp-section">
        
        <div class="header">
          <div class="left">
            <div class="icon" >{{file.workIcon}}</div>
          </div>
          <div class="rigth"> 
            <h4> Experience profetionnel </h4>
          </div>
        </div>

        <section class="company-exp">
          <div class="company-inteval">
            <div class="company-name">{{file.edifixio}}</div>
            <div class="time-arrow">
                <div class="triangle"></div>
                <div class="rectangle"></div>
            </div>
            
          </div>
          <div class="all-exp">//
            <div class="exp">

            </div>
          </div>
        </section>

      </section>
    
    
    
    
    
    </section>






  </main>

</body>

</html>
<!-- <table>
        <tbody> 
            <tr class="svg-container">
                <td width="25%" class="rigth-side">
                   <div>{{file.workIcon}}</div>
                </td>
                <td width="71%" class="rigth-left">
                  <strong>Experience profetionnel</strong>
                </td>
            </tr>
            <tr>
                <td width="10%"></td>
                <td class="rigth-side">
                  <span> Entreprise : Edifixio</span>
                  <span> 01/2019-Aujourd'hui </span>
                </td>
                <td class="rigth-left">
                  
                </td>
            </tr>
        </tbody>
      </table>-->