<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>CV Amine OUCHIHA</title>
  <style>
    {{file.style}}
  </style>
  <!-- On peut avoir d'autres méta-données ici -->
</head>

<body>

  <header class="cv-header">
    <aside>
      <img class="profile-photo" src="{{file.cvImg}}" width="90%" height="85%" />
    </aside>
    <section>
      <h1>Amine OUCHIHA <span>(26 ans)</span></h1>
      <h4>Consultant / Développeur full stack</h4>
      <p>
        Consultant développeur chez Edifixio depuis trois ans, intervenant dans
        une multitude de projets avec un spectre technique et relationnel assez large.Je suis ouvert à de nouvelles
        opportunités en tant que consultant développeur
        sur des thématiques technologique récente et porteuse.
      </p>
    </section>
  </header>

  <main class="cv-body">
    <aside>
      <section class="contact-section">
        <h3>Contact</h3>
        <ul>
          <li>{{file.localIcon}} <span>71 rue Andre sabatier, 92000, Nanterre.</span></li>
          <li>{{file.phoneIcon}} <span>07.81.58.10.21</span></li>
          <li>{{file.emailIcon}} <span>ouchihaamine@gmail.com</span></li>
        </ul>

      </section>



      <header class="skills-section-header" >
        {{file.knowlegeIcon}}
        <label>DEV </label>
      </header>

      <section class="skills-container" >
        <section class="slider-container">
          <label>JavaScript, TypeScript, NodeJs</label>
          <div class="slider">
            <div class="slider-fill" style="width: 85%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Mocha, Jasmine, Jest</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Type ORM</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Java 8 SE, JEE</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Junit, Mockito</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Spring, Spring Boot</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>JPA / Hibernate</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>REST, SOAP</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>


        <section class="slider-container">
          <label>ReactJs, Redux </label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Angular</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Salceforce Apex / Ligthning</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>SQL, PGSQL, PLSQL </label>
          <div class="slider">
            <div class="slider-fill" style="width: 65%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>C/C++, PHP</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Scala, Python</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>
      </section>


      <br/><br/><br/><br/><br/><br/>
      <header class="skills-section-header" style="margin-top: -10px;" >
        {{file.knowlegeIcon}}
        <label>Data Manage</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label>PostgreSQL, MySQL</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>Oracle</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>MongoDB</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>ElasticSearch</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

      </section>
      
      
      
      
      <br/><br/>
      <header class="skills-section-header" style="margin-top: -10px;" >
        {{file.knowlegeIcon}}
        <label>DevOps</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label>Linux</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>Heroku</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Amazon AWS</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

         <section class="slider-container">
          <label>Docker, Jekins</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

      </section>
      
    
    </aside>


    <section class="main">

      <section class="prof-exp-section">

        <div class="header">
          <div class="left">
            <div class="icon">{{file.workIcon}}</div>
          </div>
          <div class="rigth">
            <h2> Experience profetionnel </h2>
          </div>
        </div>

        <section class="company-exp">
          <div class="company-inteval">
            <div class="company-name">
              {{file.edifixio}}
              {{file.edifixio}}</div>
            <div class="time-arrow">
              <div class="triangle"></div>
              <div class="rectangle"></div>
            </div>

          </div>
          <div class="all-exp">

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Fév 2019 - Aujourd'hui
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Projet : référentiel produit Carrefour.</h5>
                <h5>Client : Carrefour.</h5>
                <h5>Environnement technique :<span> IBM MDM Infosphere, Java 8, Linux, Git.</span></h5>
                <h5>Contexte :</h5>
                <p>Pour le compte l'entreprise Carrefour,
                  et dans le projet référentiel de données Carrefour qui se bas sur la solution
                  IBM MDM, et dans une équipe d'une dizaine de personne, je suis intervenue en tant que consultant
                  développeur
                  Java sur la solution.</p>
                <h5>Missions / Interventions : </h5>
                <ul>
                  <li>Mise en place de script TrigoScript pour import/ export de données.</li>
                  <li>Étude et Réécriture de routine d'import / export Java dans le but d'optimiser les performances.
                  </li>
                  <li>Réalisation d'une documentation sur l'architecture applicative et de déploiement du projet.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Oct 2018 - Jan 2019
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : POC Intentionality.</h5>
                <h5>Client : Interne Edifixio.</h5>
                <h5>Environnement technique :
                  <span>ReactJs, Redux, IBM Bluemix, composant Bootstrap, Git.</span></h5>
                <h5>Contexte :</h5>
                <p>Dans un projet en interne de création d'un IA pour la prédiction d'impact sur les réseaux sociaux,
                  j'ai participé a la réalisation du front de l'application au sein d'une équipe de quatre personnes.
                </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Conception, découpage et réalisation des composants ReactJs.</li>
                  <li>Navigation et stockage du contexte.</li>
                  <li>Appel des services distant et intégration reparution sur le front.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Aout 2018 - Oct 2018
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Application Mobile Avec React Native et Salesforce Mobile SDK (CXO).</h5>
                <h5>Client : Salesforce.</h5>
                <h5>Environnement technique :
                  <span>React Native, Salesforce, Apex, Push notification, Jest, Git.</span> </h5>
                <h5>Context :</h5>
                <p>Pour le compte d'un projet pilote en partenariat avec Salesforce, j'ai participé a la réalisation
                  et on maintient de ertaines fonctionnalités d'un réseau sociale d'entreprise
                  avec SDK Mobile de Salesforce en utilisant ReactNative, au sein d'une équipe de quatre personnes.</p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Migration de service React native coté Back (APEX) pour réduire le nombre d'appels intermédiaire
                    serveur et amélioré les performances.</li>
                  <li>Test Unitaire de service (Code Covrage Salesforce).</li>
                  <li>Push notification et création des trigguer APEX pour les interceptées.</li>
                  <li>Teste de rendering des composant ReactNative avec Jest et Enzyme.</li>
                  <li>Réalisation de Mock pourl'envirenement test avec Jest.</li>
                </ul>
              </article>
            </div>


            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mai 2017 - Juil 2018
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Plateforme de dépannage en ligne. </h5>
                <h5>Client : Inter Mutuelle Assurance (IMA).</h5>
                <h5>Environnement technique : <span>NodeJs, TypeScript, Angular, AngularJs, Gulp
                    Heroku Paas, add-on Heroku, Pipe Heroku, PostgreSQL, Mocha, Salesforce, Talend ETL,
                    platforme de paiment Sogenactif.</span></h5>
                <h5>Contexte :</h5>
                <p>Pour le compte de l'inter mutuelle assurance (IMA) basé a Niort, on a réalisé
                  une application de dépannage en ligne qui est repartie en deux volets,
                  l'automobile et l'habitation, sur ce projet, j'été développeur et tech-lead après
                  la croissance de l'équipe du projet qui est passé de 3 personnes a 9 personnes. </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Conception des services web.</li>
                  <li>Conception et implémentation des clients web.</li>
                  <li>Mise en place d’une migration en TypeScript coté serveur.</li>
                  <li>Conception et implémentation du système de pérsistance avec TypeORM.</li>
                  <li>Administration des environnements sur Heroku PaaS</li>
                  <li>Administration des addon Heroku (PostgreSQL, heroku-connect, Algolia, SendGrid).</li>
                  <li>Mise en place d’un déploment avec heroku flow et des remote view plus adapter à l'agile et
                    l'acroissemnt de l'equipe de projet.</li>
                </ul>
              </article>
            </div>


            <div class="exp">
              <aside class="date-container">
                <h4>
                  Fev 2016 - Avrl 2017
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : POC Moteur de rechérche full sur les email (pieces joint inclus). </h5>
                <h5>Client : Interne Edifixio</h5>
                <h5>Environement technique : <span>AngularJs, ElasticSearch, Logstach.</span></h5>
                <h5>Context :</h5>
                <p> Pour une application en interne, j'ai réalisé une application moteur de recherche sue un ensemble
                  configurable de boite e-mail.
                  Cette application permet la recherche sur les contenus et les pièces jointe des adresses mail
                  configurer, j'ai aussi réalisé une UI de démonstration qui présente les
                  fonctionnalités de recherche full et avec facettes. </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Configuration d'ElasticSearch.</li>
                  <li>Configuration de logstach.</li>
                  <li>Installation du plugin logstach pour piper les donner du protocole POP et IMAP.</li>
                  <li>Mise en place de la communication entre logstach et ElasticSearch pour l'indexation des données.
                  </li>
                  <li>Développement d’une UI avec AngularJs pour interagir avec les résultats de recherche.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mars 2016 - Jan 2017
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Application web et plateforme collaborative Jalios CMS </h5>
                <h5>Client : COFREND</h5>
                <h5>Environement technique : <span> Jalios - Java JEE - JavaScript - JQuery.</span></h5>
                <h5>Context :</h5>
                <p>Pour Le compte du confédération française des teste non destructif, j'ai participer a la realisation
                  d'une application web collaboratif, au sein d'un equipe de 3 personne.
                  Cette application permet au professionnel de s'inscrire, de créer du contenu et de la documentation ,
                  de s'inscrire a des examens de certification et de paiement en ligne,
                  ainsi que d'exposer un contenu vitrine pour les utilisateurs non inscrit.
                </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Création de types des contenus et gestion de leur affichage.</li>
                  <li>Création de types des formulaires et gestion des règles métier.</li>
                  <li>Création des pages portails et gestion de la navigation dans le site.</li>
                  <li>Interfaçage avec un service de paiement en ligne sécurisé (avec la solution Monitico).</li>
                  <li>Interfaçage avec un logiciel de comptabilité par export de fichier.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mai 2015 - Nov 2016
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Couche de services de recherche basée sur ElasticSearch </h5>
                <h5>Client : Stage de fin d'étude (Edifxio)</h5>
                <h5>Environement technique : <span> Java JEE - Spring (Core, MVC, AOP) - ElasticSearch, Git.</span></h5>
                <h5>Context :</h5>
                <p>
                  Pour mon stage de fin d'études,
                  j'ai eu à réaliser une API configurable en java pour interroger un index Elasticsearch et générer des
                  facettes dynamique de recherche.
                </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Étude de l’état de l’art sur les moteurs de recherche.</li>
                  <li>Conception et réalisation d'une API configurable pour simplifier la réalisation d'applications
                    utilisant ElasticSearch en Java.</li>
                  <li>Développement d’un prototype web en Java JEE.</li>
                </ul>
              </article>
            </div>

          </div>
        </section>
      </section>

      <section class="formation-section" style="">

        <div class="header">
          <div class="left">
            <div class="icon">{{file.workIcon}}</div>
          </div>
          <div class="rigth">
            <h2> Formation </h2>
          </div>
        </div>

        <section class="company-exp">
          <div class="all-exp">

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2015
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Université de Versailles Saint-Quentin-en-Yvelines (UVSQ).</h5>
                <h5><i>Master Analyse et Conception de Systèmes d'Informations Sûrs (ACSIS).</i></h5>
              </article>

            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2014
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Université de Versailles Saint-Quentin-en-Yvelines (UVSQ).</h5>
                <h5><i>Maîtrise en informatique. </i></h5>
              </article>

            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2013
                </h4>
                <br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br />
              </aside>
              <article class="exp-container">
                <h5>Université de Béjaïa (Algérie).</h5>
                <h5><i>Licence en informatique.</i> </h5>
              </article>

            </div>

          </div>
        </section>
      </section>

    </section>

  </main>

</body>

</html>