<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>CV Amine OUCHIHA</title>
  <style>
    body {
      width: 101%;
      margin-top: -1px;
      margin-left: -1px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .cv-header {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      width: 100%;
      background-color: #58585A;
      color: white;
      border-bottom: solid #12B4E4 8px;

    }

    .cv-header>aside {
      width: 25%;
      margin-top: 10px;
      margin-left: 10px;
    }

    .cv-header>section h1 {
      font-size: 35px;
    }

    .cv-header>section h4 {
      font-size: 20px;
      font-style: italic;
    }

    .cv-header>section p {
      font-size: 18px;
      font-style: italic;
    }

    .cv-header>section h1 span {
      font-size: 15px;
      font-style: italic;
    }




    .cv-header>section {
      width: 70%;
    }


    .cv-header>section h4 {
      border-bottom: solid #12B4E4 3px;

    }

    .profile-photo {
      border-radius: 10%;
      border: solid #12B4E4 3px;
    }

    .cv-body {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      margin-top: -1px;
    }

    .cv-body>aside {
      width: 30%;
      background-color: #58585A;
      margin-top: -1px;

    }

    .cv-body>.main {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      width: 70%;
      background-color: white;
    }


    .slider-container {
      width: 80%;
      margin-left: 15px;
      margin-top: 10px;
    }


    .slider-container>.slider {
      background-color: #D9D8DD;
      height: 6px;
    }

    .slider-container .slider-fill {
      background-color: #13B5E6;
      height: 6px;
    }

    .slider-container label {
      color: white;
    }


    .skills-container {
      margin-top: 30px;

    }

    .skills-section-header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-right: 10px;
      background-color: white;
      max-height: 30px;

    }

    .skills-section-header>div {
      background-color: white;
      transform: translateY(-25%);
      padding: 10px;
      border-radius: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .skills-section-header>div>svg {
      fill: #13B5E6;
    }

    .skills-section-header label {
      color: #13B5E6;
      margin-top: 5px;
    }

    .cv-body .contact-section {
      width: 100%;
      height: 200px;
      background-color: #12B4E4;
      color: white;
      margin-top: -1px;

    }


    .cv-body>aside .contact-section h3 {
      margin: 0px;
      width: 60%;
      display: table;
      margin: auto;
      background: #58585A;
      padding: 10px;
      text-align: center;
      border-radius: 20px;

    }


    .cv-body>aside .contact-section ul {
      list-style-type: none;
      padding: 0px;
    }



    .cv-body>.main table .rigth-side {
      background-color: #D9D8DD;
    }

    .cv-body>.main table tr.svg-container td.rigth-side {
      padding-bottom: 10px;
    }

    .cv-body>.main table tr.svg-container td.rigth-side div svg {
      margin: auto;
      display: table;
      margin-top: 10px;
      fill: #D9D8DE;
    }

    .prof-exp-section,
    .formation-section {
      width: 100%;
    }

    .prof-exp-section>.header {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
    }

    .prof-exp-section>.header .left {
      background-color: #D9D8DD;
      width: 30%;
    }

    .prof-exp-section>.header .left .icon {
      background-color: #57575A;
      border-radius: 100%;
      margin: auto;
      display: table;
      padding: 8px;
      height: 40px;
      width: 40px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .prof-exp-section>.header .left .icon svg {
      fill: white;
    }

    .prof-exp-section>.header .rigth {
      width: 67%;
      padding-left: 10px;
    }

    .prof-exp-section>.company-exp {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      margin-top: -1px;

    }

    .prof-exp-section>.company-exp .company-inteval {
      width: 10%;
      background-color: #D9D8DD;
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
    }

    .prof-exp-section>.company-exp .company-inteval .company-name {
      width: 60%;
      margin: auto;
      margin-top: 200px;
      display: table;
    }

    .prof-exp-section>.company-exp .company-inteval .company-name svg:nth-child(2) {
      margin-top: 200px;
    }

    .prof-exp-section>.company-exp .company-inteval .company-name svg:nth-child(3) {
      margin-top: 500px;
    }

    .prof-exp-section>.company-exp .company-inteval .company-name svg:nth-child(4) {
      margin-top: 10px;
    }


    .prof-exp-section>.company-exp .company-inteval .time-arrow {
      width: 30%;
      display: flex;
      /*flex mode*/
      flex-direction: column;
      flex-wrap: wrap;
      /**return to line when line is full*/
      padding: 2px;

    }

    .prof-exp-section>.company-exp .company-inteval .time-arrow .triangle {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 18px solid white;
      margin: auto;
      display: table;
      margin-top: 0px;
      margin-bottom: 0px;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      /* Internet Explorer */
      -moz-transform: rotate(270deg);
      /* Firefox */
      -webkit-transform: rotate(270deg);
      /* Safari et Chrome */
      -o-transform: rotate(270deg);
      /* Opera */
    }

    .prof-exp-section>.company-exp .company-inteval .time-arrow .rectangle {
      width: 4px;
      height: 99%;
      background-color: white;
      margin: auto;
      display: table;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .prof-exp-section>.company-exp>.all-exp {
      width: 90%;
      margin-left: -1px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      color: #58585A;
      margin-top: -1px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .date-container {
      background-color: #D9D8DD;
      width: 33.5%;
      text-align: center;
      margin: 0px;
      padding-top: 25px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .date-container h4 {
      display: table;
      width: 100%;
    }



    .prof-exp-section>.company-exp>.all-exp .exp .exp-container {
      background-color: white;
      padding-left: 10px;
      padding-top: 40px;
      width: 64%;
    }


    .prof-exp-section>.company-exp>.all-exp .exp .exp-container>h5 {
      margin: 0px;
      margin-top: 5px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .exp-container>h5 span {
      font-size: 12px;
      font-weight: normal;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .exp-container>ul {
      margin: 0px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .exp-container>ul>li {
      font-size: 12px;
    }

    .prof-exp-section>.company-exp>.all-exp .exp .exp-container p {
      font-size: 12px;
      margin: 0px;
      margin-left: 10px;
    }






    .formation-section>.header {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
    }

    .formation-section>.header .left {
      background-color: #D9D8DD;
      width: 30%;
    }

    .formation-section>.header .left .icon {
      background-color: #57575A;
      border-radius: 100%;
      margin: auto;
      display: table;
      padding: 8px;
      height: 40px;
      width: 40px;
      margin-top: 50px;
      margin-bottom: 5px;
    }

    .formation-section>.header .left .icon svg {
      fill: white;
    }

    .formation-section>.header .rigth {
      width: 67%;
      padding-left: 10px;
      margin-top: 50px;
    }

    .formation-section>.company-exp {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      margin-top: -1px;

    }

    .formation-section>.company-exp .company-inteval {
      width: 10%;
      background-color: #D9D8DD;
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
    }

    .formation-section>.company-exp .company-inteval .company-name {
      width: 60%;
      margin: auto;
      margin-top: 200px;
      display: table;
    }


    .formation-section>.company-exp .company-inteval .time-arrow {
      width: 30%;
      display: flex;
      /*flex mode*/
      flex-direction: column;
      flex-wrap: wrap;
      /**return to line when line is full*/
      padding: 2px;

    }

    .formation-section>.company-exp .company-inteval .time-arrow .triangle {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 18px solid white;
      margin: auto;
      display: table;
      margin-top: 0px;
      margin-bottom: 0px;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      /* Internet Explorer */
      -moz-transform: rotate(270deg);
      /* Firefox */
      -webkit-transform: rotate(270deg);
      /* Safari et Chrome */
      -o-transform: rotate(270deg);
      /* Opera */
    }

    .formation-section>.company-exp .company-inteval .time-arrow .rectangle {
      width: 4px;
      height: 99%;
      background-color: white;
      margin: auto;
      display: table;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .formation-section>.company-exp>.all-exp {
      width: 100%;
      margin-left: -1px;
    }

    .formation-section>.company-exp>.all-exp .exp {
      display: flex;
      /*flex mode*/
      flex-direction: row;
      flex-wrap: wrap;
      /**return to line when line is full*/
      color: #58585A;
      margin-top: -1px;
    }

    .formation-section>.company-exp>.all-exp .exp .date-container {
      background-color: #D9D8DD;
      width: 30.2%;
      text-align: center;
      margin: 0px;
      padding-top: 35px;
    }

    .formation-section>.company-exp>.all-exp .exp .date-container h4 {
      display: table;
      margin: auto;
    }



    .formation-section>.company-exp>.all-exp .exp .exp-container {
      background-color: white;
      padding-left: 10px;
      padding-top: 25px;
      width: 64%;
    }


    .formation-section>.company-exp>.all-exp .exp .exp-container>h5 {
      margin: 0px;
      margin-top: 5px;
    }

    .formation-section>.company-exp>.all-exp .exp .exp-container>h5 span {
      font-size: 12px;
      font-weight: normal;
    }

    .formation-section>.company-exp>.all-exp .exp .exp-container>ul {
      margin: 0px;
    }

    .formation-section>.company-exp>.all-exp .exp .exp-container>ul>li {
      font-size: 12px;
    }

    .formation-section>.company-exp>.all-exp .exp .exp-container p {
      font-size: 12px;
      margin: 0px;
      margin-left: 10px;
    }
  </style>
  <!-- On peut avoir d'autres méta-données ici -->
</head>



<body>

  <header class="cv-header">
    <aside>
      <img class="profile-photo" src="{{file.cvImg}}" width="90%" height="85%" />
    </aside>
    <section>
      <h1>Amine OUCHIHA <span>(27 ans)</span></h1>
      <h4>Consultant développeur </h4>
      <p>
        Titulaire depuis 2015 d’un Master en Analyse et Conception de Systèmes d'Informations Sûrs, je suis intervenu
        sur diffrents projets de conseils et de développements avec des aspects technologiques divers notament sur les
        ecosystemes
        Node.js/ React.js.
        Aujourd’hui, je suis à la recherche de nouvelles opportunités en tant que développeur et/ou
        lead-dev.<br /><br />
      </p>
    </section>
  </header>

  <main class="cv-body">
    <aside>
      <section class="contact-section">
        <h3>Contact</h3>
        <ul>
          <li>{{file.localIcon}} <span>71 rue Andre Sabatier, 92000, Nanterre.</span></li>
          <li>{{file.phoneIcon}} <span>07.81.58.10.21</span></li>
          <li>{{file.emailIcon}} <span>ouchihaamine@gmail.com</span></li>
        </ul>
      </section>


      <br />
      <header class="skills-section-header">
        <div> {{file.knowlegeIcon}}</div>
        <label>DEV</label>
      </header>

      <section class="skills-container">

        <section class="slider-container">
          <label>JavaScript, TypeScript, Node.Js</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>React.Js</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Jest</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Angular</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Java 8 SE, JEE</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>


        <section class="slider-container">
          <label>REST</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Salceforce Apex / Ligthning</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>SQL, PG/SQL </label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>C/C++, PHP, Scala, Python</label>
          <div class="slider">
            <div class="slider-fill" style="width: 30%;">&nbsp;</div>
          </div>
        </section>
      </section>

      <br /><br /><br />
      <header class="skills-section-header" style="margin-top: -10px;">
        <div> {{file.database}}</div>
        <label>Data Manage</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label>PostgreSQL, MySQL</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>MongoDB</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>(ELK) ElasticSearch, Logstash, Kibana</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

      </section>

      <br /><br /><br />
      <header class="skills-section-header" style="margin-top: -10px;">
        <div> {{file.dataanalytics}}</div>
        <label>Method - Conception</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label> Scrum </label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label> UML </label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

      </section>

      <br /><br /><br /><br /><br />
      <header class="skills-section-header" style="margin-top: -10px;">
        <div> {{file.mobile}}</div>
        <label>Dev Mobile</label>
      </header>

      <section class="skills-container">

        <section class="slider-container">
          <label>React Native</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Android</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>IOS</label>
          <div class="slider">
            <div class="slider-fill" style="width: 20%;">&nbsp;</div>
          </div>
        </section>

      </section>


      <br /><br /><br />
      <header class="skills-section-header" style="margin-top: -10px;">
        <div> {{file.screwdriver}}</div>
        <label>Dev Tools
        </label>
      </header>

      <section class="skills-container">

        <section class="slider-container">
          <label>Maven, Gradle, Ant</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Git </label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Elipse IDE, IntelliJ IDE</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>VSCode</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

      </section>
      <br /><br /><br />
      <header class="skills-section-header" style="margin-top: -10px;">
        <div> {{file.terminal}}</div>
        <label>Dev Ops</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label>Linux, Shell</label>
          <div class="slider">
            <div class="slider-fill" style="width: 50%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Heroku PaaS</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Docker / Docker-compose</label>
          <div class="slider">
            <div class="slider-fill" style="width: 40%;">&nbsp;</div>
          </div>
        </section>

      </section>

      <br /><br /><br />

      <header class="skills-section-header" style="margin-top: 10px;">
        <div> {{file.english}}</div>
        <label>Anglais</label>
      </header>

      <section class="skills-container">
        <section class="slider-container">
          <label>Orale</label>
          <div class="slider">
            <div class="slider-fill" style="width: 70%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Comprehention</label>
          <div class="slider">
            <div class="slider-fill" style="width: 60%;">&nbsp;</div>
          </div>
        </section>

        <section class="slider-container">
          <label>Ecrit</label>
          <div class="slider">
            <div class="slider-fill" style="width: 80%;">&nbsp;</div>
          </div>
        </section>

      </section>

    </aside>


    <section class="main">

      <section class="prof-exp-section">

        <div class="header">
          <div class="left">
            <div class="icon">{{file.workIcon}}</div>
          </div>
          <div class="rigth">
            <h2> Experience profetionnel </h2>
          </div>
        </div>

        <div class="header">
          <div class="left">
          </div>
          <div class="rigth">
            <h3 style="text-align: center">Entreprise : Société Générale</h3>
            <h3 style="text-align: center">(Décembre 2019 à aujourd'hui) </h3>
          </div>
        </div>

        <section class="company-exp">
          <div class="all-exp">

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Décembre 2019 à aujourd'hui
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Projet : My Digital Workplace.</h5>
                <h5>Client : Société Général.</h5>
                <h5>Environnement technique :<span> TypeScript, Node.js, React.js, Gitlab, Docker-compose, Openshift,
                    Jenkins, Scrum, SAFE.</span></h5>
                <h5>Contexte :</h5>
                <p>Pour le compte de l'entreprise Société Général, et dans le cadre d’un projet intranet pour le support
                  utilisateur et de centralisation des services Société Général,
                  je suis intervenu en tant que développeur dans un train avec 4 équipes de développement dont une
                  équipe de 5 personnes composé de 3 dev un PR et un Scrum</p>
                <h5>Missions / Interventions : </h5>
                <ul>
                  <li>Participation aux différentes cérémonies SAFE.</li>
                  <li>Développement des fonctionnalités back et front.</li>
                  <li>Tirage de release et participation à la mise en production.</li>
                </ul>
              </article>
            </div>
          </div>
        </section>

        <div class="header">
          <div class="left">
          </div>
          <div class="rigth" style=" padding-top: 130px;">
            <h3 style="text-align: center">Entreprise : EDIFIXIO</h3>
            <h3 style="text-align: center">(Mai 2015 à Novembre 2019) </h3>
          </div>
        </div>

        <section class="company-exp">
          <div class="all-exp">

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Fév 2019 - Sept 2019
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Projet : Référentiel produit Carrefour.</h5>
                <h5>Client : Carrefour.</h5>
                <h5>Environnement technique :<span> IBM MDM Infosphere, Java 8, Linux.</span></h5>
                <h5>Contexte :</h5>
                <p>Pour le compte de l'entreprise Carrefour, et dans le cadre d’un projet référentiel de données
                  utilisant la solution IBM MDM,
                  je suis intervenu dans une équipe de six personnes en
                  tant que consultant développeur Java sur la solution.</p>
                <h5>Missions / Interventions : </h5>
                <ul>
                  <li>Mise en place de scripts TrigoScript pour import/ export de données.</li>
                  <li>Étude et Réécriture de routine d'import / export Java dans le but d'optimiser les performances.
                  </li>
                  <li>Réalisation d'une documentation sur l'architecture applicative et de déploiement du projet.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Oct 2018 - Jan 2019
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : POC Intentionality.</h5>
                <h5>Client : Interne Edifixio.</h5>
                <h5>Environnement technique :
                  <span>React.js, Redux, IBM Bluemix, Composants Bootstrap.</span></h5>
                <h5>Contexte :</h5>
                <p>Dans un projet en interne de création d'une IA pour la prédiction d'impact sur les réseaux sociaux,
                  j'ai participé à la réalisation du front de l'application au sein d'une équipe de quatre
                  personnes.<br />
                </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Conception, découpage et réalisation des composants React.js .</li>
                  <li>Navigation et stockage du contexte.</li>
                  <li>Appel des services distant et intégration des services sur le front.</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Aout 2018 - Oct 2018
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Application React Native / Salesforce (CXO).</h5>
                <h5>Client : Salesforce.</h5>
                <h5>Environnement technique :
                  <span>React Native, Salesforce, Apex, Push notification, Jest.</span> </h5>
                <h5>Context :</h5>
                <p>Pour le compte d'un projet pilote en partenariat avec Salesforce, j'ai participé à la réalisation
                  et à la maintenance de certaines fonctionnalités d'un réseau sociale d'entreprise
                  au sein d'une équipe de quatre personnes.</p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Migration des services React native coté Back (APEX) pour réduire le nombre d'appels
                    intermédiaires
                    serveur.</li>
                  <li>Test Unitaire de services (Code Covrage Salesforce).</li>
                  <li>Mise en place des Push notifications et création des trigguers APEX pour les intercepter.</li>
                  <li>Teste de rendering des composants ReactNative avec Jest et Enzyme.</li>
                </ul>
              </article>
            </div>


            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mai 2017 - Juil 2018
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Plateforme de dépannage en ligne. </h5>
                <h5>Client : Inter Mutuelle Assistance (IMA).</h5>
                <h5>Environnement technique : <span>Node.js, TypeScript, Angular, AngularJs, Gulp,
                    Heroku Paas, add-on Heroku, Pipe Heroku, PostgreSQL, Mocha, Salesforce, Talend ETL,
                    platforme de paiment Sogenactif.</span></h5>
                <h5>Contexte :</h5>
                <p>Pour le compte de l'Inter Mutuelle Assistance (IMA) basée à Niort, on a réalisé
                  une application de dépannage d’urgence en ligne dans les domaines de l’automobile et de
                  l’habitation. Sur ce projet, j’ai mené une mission de développeur puis de tech-lead. </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Conception des services web.</li>
                  <li>Conception et implémentation des clients web.</li>
                  <li>Administration des environnements sur Heroku PaaS</li>
                  <li>Mise en place d’un déploiement avec Heroku flow et des remotes views.</li>
                </ul>
              </article>
            </div>
            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mars 2016 - Jan 2017
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Plateforme web et collaborative Jalios CMS.</h5>
                <h5>Client : COFREND</h5>
                <h5>Environement technique : <span> Jalios - Java JEE - JavaScript - JQuery.</span></h5>
                <h5>Context :</h5>
                <p>Pour le compte de la Confédération Française pour les Essais Non Destructifs (COFREND), et au sein
                  d'une équipe de 3 personnes, j'ai participé à la réalisation d'une application web collaborative.</p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Création de types de contenus et gestion de leurs affichages.</li>
                  <li>Création de types de formulaires et gestion des règles métiers.</li>
                  <li>Création des pages portails et gestion de la navigation dans le site.</li>
                  <li>Interfaçage avec un service de paiement en ligne (avec la solution Monitico).</li>
                </ul>
              </article>
            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  Mai 2015 - Nov 2016
                </h4>
              </aside>
              <article class="exp-container">
                <h5>Projet : Couche de services ElasticSearch. </h5>
                <h5>Client : Stage de fin d'étude (Edifxio)</h5>
                <h5>Environement technique : <span> Java JEE - Spring (Core, MVC, AOP) - ElasticSearch.</span></h5>
                <h5>Context :</h5>
                <p>
                  Pour mon stage de fin d'études, j'ai eu à réaliser une API configurable en java pour interroger un
                  index Elasticsearch et générer des facettes dynamiques de recherche.
                </p>
                <h5>Missions / Intervention :</h5>
                <ul>
                  <li>Étude de l’état de l’art sur les moteurs de recherches.</li>
                  <li>Conception et réalisation d'une API configurable pour simplifier la réalisation d'applications
                    utilisant des facettes sur ElasticSearch en Java.</li>
                  <li style="color: white"></li>
                </ul>
              </article>
            </div>

          </div>
        </section>
      </section>


      <section class="formation-section">

        <div class="header">
          <div class="left">
            <div class="icon">{{file.graduation}}</div>
          </div>
          <div class="rigth">
            <h2> Formation </h2>
          </div>
        </div>

        <section class="company-exp">
          <div class="all-exp">

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2015
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Université de Versailles Saint-Quentin-en-Yvelines (UVSQ).</h5>
                <h5><i>Master Analyse et Conception de Systèmes d'Informations Sûrs (ACSIS).</i></h5>
              </article>

            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2014
                </h4>

              </aside>
              <article class="exp-container">
                <h5>Université de Versailles Saint-Quentin-en-Yvelines (UVSQ).</h5>
                <h5><i>Maîtrise en informatique. </i></h5>
              </article>

            </div>

            <div class="exp">
              <aside class="date-container">
                <h4>
                  2013
                </h4>
                <br /><br />
              </aside>
              <article class="exp-container">
                <h5>Université de Béjaïa (Algérie).</h5>
                <h5><i>Licence en informatique.</i> </h5>
              </article>

            </div>

          </div>
        </section>
      </section>

    </section>

  </main>

</body>

</html>